SetEnv APPLICATION_ENV development
#SetEnv APPLICATION_ENV staging
#SetEnv APPLICATION_ENV production

DirectoryIndex index.php  
RewriteEngine  on   
RewriteBase    /dentist/
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^(.*)$                             index.php?p=$1 [L] 
